{% extends 'base.html' %}
{% block title %}
  Login · IPL Web App
{% endblock %}
{% block content %}
  <div class="card card-auth">
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /> 
      <label>Email</label> 
      <input name="email" type="email" required /> 
      <label>Password</label> 
      <input name="password" type="password" required /> 
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock %}
